.og-grid {
	list-style: none;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	vertical-align: top;
	margin-bot:-10px;
	margin-top:-10px;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #000;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #000;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 400px;
	overflow: hidden;
	z-index:100;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 400px;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}


.og-details {
	margin-left:20px;
	width:350px;
	height:330px;
	float:left;
}
.og-divtitle{
	margin-left:20px;
	margin-top:-35px;
	float:left;
	height:40px;
	width:350px;
	text-align:center;
	margin-bottom:5px;
	}
.og-divtitle .og-categoria{
	color:#FFF;
	font-family:constan;
	font-size:14px;
	}
.og-details span{
	color:#FFF;
	float:left;
	padding-left:5px;
}


.og-details span.og-datos{
	color:#8e8e8e;
	float:left;
	clear:both;
}


.og-imgtel{
	background-image:url(../SECCION/fono.png);
	width:24px;
	height:30px;
	background-size:100% 100%;
	border:0px;
	float:left;
	margin-top:0px;
	}
.og-telefono1{
	font-family:constanz;
	font-size:26px;
	font-weight:bold;
	float:left;
	margin-top:0px;
	margin-left:20px;
	width:130px;
	height:26px;
	}
.og-telefono2{
	font-family:constanz;
	font-size:26px;
	font-weight:bold;
	width:130px;
	height:26px;
	float:left;
	margin-left:45px;
	margin-top:-10px;
	clear:both;
	}
.og-divisor1{
	height:40px;
	width:1px;
	background-color:#FFF;
	margin-left:10px;
	margin-right:40px;
	margin-bottom:10px;
	margin-top:-20px;
	float:left;
	}
.og-divisor2{
	height:1px;
	width:350px;
	background-color:#FFF;
	margin-top:5px;
	margin-bottom:15px;
	float:left;
	}
.og-imgprecio{
	background-image:url(../SECCION/precio.png);
	width:24px;
	height:30px;
	background-size:100% 100%;
	float:left;
	margin-left:10px;
	margin-top:-25px;
	}
.og-precio{
	font-family:constanz;
	font-size:26px;
	font-weight:bold;
	float:right;
	margin-top:-25px;
	}
.og-divisor3{
	height:1px;
	width:350px;
	background-color:#FFF;
	margin-top:5px;
	margin-bottom:15px;
	float:left;
	}

.og-fullimg {
	width: 580px;
	float: left;
	height: 370px;
	overflow: hidden;
	position: relative;
	text-align: center;
	margin-left:170px;
	margin-top:15px;
	margin-bottom:15px;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	width: 580px;
	height:370px;
}

.og-divtitle h3 {
	font-family:constan;
	color: #b99841;
	font-size:26px;
	font-weight:100;
	font-stretch:wider;
	text-align:center;
}

.og-details p{
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	float:left;
	font-family:constan;
	font-size:14px;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #fff;
	color: #fff;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}